*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer, article, aside, nav, section {
    display: block;
}

html {
    width: 100%;
}

body {
    font-size: 18px;
    line-height: 1.33;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #000;
    background:  #fff;
    font-weight: 400;
    width: 100%;
}


.d-mobile {
    display: none !important;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #1761d0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

.img-responsive {
    max-width: 100%;
}

.d-center {
    display: block;
    margin: 0 auto 20px;
}

.wrapper {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}
svg
{
    display: inline-block;
    vertical-align: middle;
}
svg path {
    /*stroke:inherit;*/
    /*stroke-width:inherit;*/
    /*fill:inherit;*/
}
.b-header
{
    background: #151515;
    padding: 3px 0;
    margin-bottom: 10px;
}
.b-header .container
{
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
}
.b-header .container>*
{
    display: inline-block;
    vertical-align: middle;
}
.b-toggle
{
    display: none !important;
    float: left;
}

.b-menu a
{
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 25px;
}
.b-menu a:after
{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 10px;
    margin-top: 3px;
}
.b-menu a.current
{
    color: #0a99ae;
}
.b-menu a:hover
{
    color: #1761d0;
}
.b-sidebar
{
    float: right;
    width: 290px;
}
.side-title
{
    color: #fff;
    font-size: 15px;
    border-bottom: 3px solid #151515;
    margin-bottom: 18px;
}
.side-title span
{
    background: #151515;
    display: inline-block;
    padding: 4px 10px;
}
.b-post
{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.b-post img
{
    float: left;
    margin: 0 10px 30px 0;
}
.b-teaser
{
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 1.2;
}
.post-date
{
    font-size: 13px;
    color: #9b9b9b;
}
.post-link
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0;
}
.b-post:hover .b-teaser, .b-link:hover
{
    color: #1761d0;
}
.b-link
{
    display: block;
    color: #000;
    font-size: 16px;
    padding: 0 0 15px;
    border-bottom: 1px solid;
    text-decoration: none;
    margin-bottom: 15px;
    line-height: 1.1;
    padding-left: 25px;
    position: relative;
}
.b-link:before
{
    content: "\00BB";
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0.5;
}
.b-content
{
    margin-right: 305px;
}
.b-breadcrumbs
{
    font-size: 13px;
    color: #616161;
    margin-bottom: 10px;
}
.b-tag
{
    color: #fff;
    background: #000;
    padding: 1px 5px;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 15px;
}
h1
{
    font-size: 32px;
    line-height: 1;
    margin-bottom: 30px;
}
.article-info
{

    -moz-text-align-last: justify;

    text-align-last: justify;
    margin-bottom: 20px;
}
.article-info>div
{
    display: inline-block;
    vertical-align: middle;
}
.b-author
{
    max-width: 60%;
    font-size: 16px;
    -moz-text-align-last: left;
    text-align-last: left;
    line-height: 1.1;
    color: #7b7b7b;
}
.b-author b
{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
}
.b-author img
{
    float: left;
    margin-right: 15px;
}
.article-data
{
    font-size: 13px;
}
.article-data svg
{
    margin: 0 5px 0 15px;
}
.b-social
{
    margin-bottom: 25px;
}
.b-social a
{
    display: inline-block;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    padding: 12px 14px;
    margin-right: 10px;
}
.fb
{
    background: #566daa;
}
.tw
{
    background: #4dc5f6;
}
.pn
{
    background: #c31c23;
}
blockquote
{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
blockquote:before
{
    background: url("../img/blockquote.png") no-repeat;
    position: absolute;
    left: 0;
    top: -10px;
    width: 68px;
    height: 56px;
    z-index: 0;
    content: "";
    background-size: contain;
}
blockquote span
{
    position: relative;
}
h2, .h2
{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}
.b-timetable
{
    background: #151515;
    padding: 25px 30px;
    color: #fff;
    list-style-position: inside;
    font-weight: bold;
    margin-bottom: 22px;
}
.b-timetable li:not(:last-child)
{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #484848;
}
.b-timetable span
{
    font-weight: 400;
}
.alignright
{
    float: right;
    margin: 0 0 30px 30px;
}
.alignleft
{
    float: left;
    margin: 0 15px 15px 0;
}
.btn
{
    display: inline-block;
    color: #fff;
    background: #03798a;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    padding: 25px 85px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin: 20px 0;
    text-transform: uppercase;
}
.btn:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.comment-title
{
    border-bottom: 2px solid #151515;
    margin-bottom: 35px;
    margin-top: 50px;
}
.comment-title>span
{
    background: #151515;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 10px 15px;
}
.comment-title>span>span
{
    color: #777;
    margin-left: 10px;
}
.comment-title .b-social
{
    float: right;
}
.comment-title .b-social a
{
    margin-right: 0;
}
.comment-item
{
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
}
.comment-img, .comment-body
{
    display: table-cell;
    vertical-align: top;
}
.comment-img
{
    padding-right: 15px;
}
.comment-author
{
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-right: 15px;
}
.comment-date
{
    display: inline-block;
    color: #a09f9f;
    font-size: 12px;
    margin-bottom: 10px;
}
.comment-body p
{
    margin-bottom: 8px;
    font-size: 16px;
}
.comment-body p+img
{
    margin-bottom: 5px;
}
.b-reply
{
    font-size: 12px;
    color: #d3d3d3;
}
.b-reply a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}
.b-reply a:first-child
{
    margin-left: 0;
}
.b-reply a:last-child
{
    color: #f2606a;
}
.comment-reply
{
    margin-left: 65px;
}
.comment-reply2
{
    margin-left: 130px;
}
.b-footer
{
    color: #fff;
    background: #151515;
    padding: 25px 0;
    font-size: 14px;
}
@media (max-width: 990px) {
    .d-large
    {
        display: none !important;
    }
    .b-header
    {
        padding: 6px 0;
        margin-bottom: 3px;
    }
    .b-header .container
    {
        text-align: center;
        -moz-text-align-last: center;
        text-align-last: center;
    }
    .b-logo img
    {
        max-width: 157px;
    }
    .b-toggle
    {
        display: block !important;
        margin-top: 5px;
    }
    .b-search
    {
        float: right;
        margin-top: 5px;
    }
    .b-search svg
    {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .b-content
    {
        margin-right: 0;
    }
    .b-breadcrumbs
    {
        margin-bottom: 5px;
    }
    h1
    {
        font-size: 24px;
    }
    .b-author {
        margin-bottom: 5px;
    }
    .b-author img
    {
        max-width: 50px;
        margin-right: 5px;
        margin-bottom: 20px;
    }
    .article-info
    {
        -moz-text-align-last: left;
        text-align-last: left;
    }
    .article-info>div
    {
        display: block;
        max-width: 100%;
    }
    .b-social a
    {
        margin-right: 0;
		width: 40px;
    text-align: center;
    padding: 12px;
    }
    blockquote
    {
        font-size: 18px;
    }
    blockquote:before
    {
        width: 50px;
        height: 55px;
    }
    h2, .h2
    {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .b-timetable
    {
        padding: 15px;
    }
    .btn
    {
        font-size: 18px;
        padding: 17px 40px;
    }
    .comment-title span
    {
        padding: 5px;
    }
    .comment-title .b-social a
    {
        padding: 8px;
		width: 32px;
    }
    .comment-title .b-social svg
    {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    .comment-item
    {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .comment-img
    {
        padding-right: 5px;
        display: block;
        float: left;
    }
    .comment-body
    {
        display: block;
    }
    .comment-date
    {
        display: block;
        margin: 10px 0;
    }
    .comment-reply, .comment-reply2
    {
        margin-left: 60px;
    }
}
@media (max-width: 767px)
{
	.alignleft, .alignright
	{
		float: none;
		display: block;
		margin: 0 auto 15px;
	}
}